/**
 * Copyright © 2023-2024 ocremaker
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

@use "sass:meta";
@use "../../utils" as U;

@mixin gt-btns-declare($selectors) {
    // Get params
    $button-list: U.get-param($selectors, button, list);
    $button: U.get-param($selectors, button, selector);
    $back-button-specification: U.get-param($selectors, button, back-specification);
    $tbo-button: U.get-param($selectors, button, tbo-button);
    $regular-bullet: U.get-param($selectors, bullets, regular);
    $statement-bullet: U.get-param($selectors, bullets, statement);
    $new-marker: U.get-param($selectors, button, new-marker);

    $btn-color: #f45c00;
    $btn-radius: .2em;

    #{$button-list} { // Center buttons
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    #{$button}, #{$regular-bullet}, #{$statement-bullet} {
        display: inline-block;
        position: relative !important;
        $base-width: 18ch;
        $base-margin: .35ch;
        min-width: $base-width;
        margin: $base-margin;
        line-height: 1.5em;
        padding: .5em 1em;
        color: white;
        background: $btn-color;
        font-weight: bold;
        text-decoration: none;
        border-radius: $btn-radius;
        border-bottom: none;
        box-shadow: black 2px 2px 1px 1px;
        transition: all 0.2s;
        font-family: sans-serif;

        &:hover, &:focus {
            margin: 0 .1em 0 .3em;
            vertical-align: -.1em;
            box-shadow: black -.3px -.3px 1px 1px;
        }

        &#{$back-button-specification} {
            width: $base-width*2 + $base-margin*2;
            display: block;
            margin: 1.5em auto auto;
        }

        #{$new-marker} {
            position: absolute;
            display: block;
            top: -1em;
            left: 19ch;
            font-size: .83em;
            padding-left: .7ch;
            padding-right: .5ch;
            background: $btn-color;
            border-top-left-radius: .5em;
            border-top-right-radius: .5em;
        }
    }
}

$export: meta.get-mixin("gt-btns-declare");