/**
 * Copyright © 2023-2024 ocremaker
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

@use "sass:meta";
@use "../../utils" as U;


@mixin aa-btns-declare($selectors) {
    // Get params
    $button-list: U.get-param($selectors, button, list);
    $button: U.get-param($selectors, button, selector);
    $back-button-specification: U.get-param($selectors, button, back-specification);
    $tbo-button: U.get-param($selectors, button, tbo-button);
    $regular-bullet: U.get-param($selectors, bullets, regular);
    $statement-bullet: U.get-param($selectors, bullets, statement);
    $new-marker: U.get-param($selectors, button, new-marker);

    #{$button-list} { // Center buttons
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    #{$button}, #{$regular-bullet}, #{$statement-bullet} {
        display: inline-block;
        position: relative !important;
        $base-width: 18ch;
        $base-margin: 1ch;
        width: $base-width;
        text-align: center;
        line-height: 1em;
        background: radial-gradient(#00000033, transparent), linear-gradient(#8C3E1A, #722201);
        color: white;
        text-decoration: none;
        border: solid .15em white;
        box-shadow: 0 0 2px 1px black;
        padding: .5em;
        border-radius: .3em;
        margin: $base-margin;
        transition: all 0.2s;
        font-family: sans-serif;

        &:hover, &:focus {
            background: linear-gradient(#00000033, #00000033), linear-gradient(#8C3E1A, #722201);

            #{$new-marker} {
                background: #6F3114;
            }
        }

        &:active {
            background: radial-gradient(#00000011, transparent), linear-gradient(#8C3E1A, #9C2D01);
            box-shadow: 0 0 2px 0 black;

            #{$new-marker} {
                background: #873B19;
            }
        }

        &#{$back-button-specification} {
            width: $base-width*2 + $base-margin*2;
            display: block;
            margin: 1.5em auto auto;

            &:before {
                content: "‹ "
            }
        }

        #{$new-marker} {
            position: absolute;
            display: block;
            top: -1em;
            left: 19ch;
            font-size: .83em;
            padding-left: .7ch;
            padding-right: .5ch;
            background: #873B19;
            border-top-left-radius: .3em;
            border-top-right-radius: .3em;
        }
    }

    #{$tbo-button} {
        // Special fixes for buttons of truth bullets:
        display: block;
        margin: auto;
    }
}

$export: meta.get-mixin("aa-btns-declare");