/**
 * Copyright © 2023-2024 ocremaker
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

@use "sass:meta";
@use "../../utils" as U;

@mixin aa-sb-declare($selectors) {
    $statement-bullet: U.get-param($selectors, bullets, statement);
    $new-marker: U.get-param($selectors, button, new-marker);

    // Making the statement buttons blue.
    #{$statement-bullet} {
        background: radial-gradient(#00000033, transparent), linear-gradient(#0490e1, #0476b9);

        &:hover, &:focus {
            background: linear-gradient(#00000033, #00000033), linear-gradient(#0490e1, #0476b9);
        }

        &:active {
            background: radial-gradient(#00000011, transparent), linear-gradient(#0490e1, #05a3ff);

            #{$new-marker} {
                background: #05a3ff;
            }
        }

        #{$new-marker} {
            background: #0476b9;
        }
    }
}

$export: meta.get-mixin("aa-sb-declare");