/**
 * Copyright © 2023-2024 ocremaker
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

@use "sass:meta";
@use "../../utils" as U;

@mixin dr-bulls-declare($selectors) {
    $regular-bullet: U.get-param($selectors, bullets, regular);
    $statement-bullet: U.get-param($selectors, bullets, statement);
    $branch-title-selector: U.get-param($selectors, titles, branch);

    #{$regular-bullet}, #{$statement-bullet} {
        display: block;
        $height: 65px;
        height: $height;
        width: 325px;
        background-image: url("https://ocremaker.frama.io/images/dr/bullet/large-gray.png");
        background-size: 325px $height;
        color: black;
        text-align: center;
        line-height: $height;
        font-family: serif;


        &:hover, &:focus {
            margin-left: 1em;
        }
    }

    #{$branch-title-selector} > #{$regular-bullet} { // Display bullets in titles inline (connects).
        display: inline-block;
    }
}

$export: meta.get-mixin("dr-bulls-declare");