/**
 * Copyright © 2023-2024 ocremaker
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

@use "sass:meta";
@use "../../utils" as U;

@mixin dr-btns-declare($selectors) {
    // Get params
    $button: U.get-param($selectors, button, selector);
    $back-button-specification: U.get-param($selectors, button, back-specification);
    $tbo-button: U.get-param($selectors, button, tbo-button);
    $regular-bullet: U.get-param($selectors, bullets, regular);
    $statement-bullet: U.get-param($selectors, bullets, statement);
    $new-marker: U.get-param($selectors, button, new-marker);

    $base-btn-width: 40ch;
    $accent-color: #C54481;

    #{$button} {
        display: block;
        width: $base-btn-width;
        line-height: 1.2em;
        text-align: left;
        background: linear-gradient(to right, #EEEEEE, #EEEEEE 15%, white 90%);
        color: black;
        text-decoration: none;
        border: solid 1px #888888;
        border-left: none;
        border-top: none;
        padding: 1em;
        $radius: 2em;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        transition: all 0.2s, color 0s;
        font-family: sans-serif;


        &:hover, &:focus, &:active {
            background: linear-gradient(to right, $accent-color, $accent-color 15%, transparent 90%);
            border: none;
            width: $base-btn-width*1.3;
            color: white;
            padding-left: 2em;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:active {
            background: linear-gradient(to right, #EC7FBE 0%, $accent-color 2em, $accent-color 20%, transparent 100%);
            // background: linear-gradient(to left, transparent 0%, $accent-color 20%, $accent-color 30%, #ff89cd 90%);
            width: $base-btn-width*1.5;
        }

        #{$new-marker} {
            float: right;
        }

        &#{$back-button-specification} {
            margin-top: 1em;
        }
    }

    #{$tbo-button} {
        // Special fixes for buttons of truth bullets:
        border-radius: 2em;
    }

}

$export: meta.get-mixin("dr-btns-declare");