/**
 * Copyright © 2023-2024 ocremaker
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

@use "sass:meta";
@use "../../utils" as U;

@mixin dr-titles-declare($selectors) {
    $title-selector: U.get-param($selectors, titles, default);
    $branch-title-selector: U.get-param($selectors, titles, branch);

    #{$title-selector}, #{$branch-title-selector} {
        display: block;
        width: fit-content;
        min-width: 25ch;
        margin-top: 1em;
        background: white;
        box-shadow: 0 4px 2px -4px black;
        font-size: 120%;
        // Add small trail of shadow
        padding: .5em 5em .5em .5em;
    }
}

$export: meta.get-mixin("dr-titles-declare");