/**
 * Copyright © 2023-2024 ocremaker
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

@use "sass:meta";
@use "../../utils" as U;

@mixin d-bulls-declare($selectors) {
    $regular-bullet: U.get-param($selectors, bullets, regular);
    $statement-bullet: U.get-param($selectors, bullets, statement);

    #{$regular-bullet}, #{$statement-bullet} {
        display: block;
        line-height: 1.5em;

        &::before {
            // From .dr-bullet
            content: " ";
            display: inline-block;
            vertical-align: middle;
            width: 42.5px;
            height: 15px;
            margin-inline: 1ch;
            background-image: url("https://ocremaker.frama.io/images/dr/bullet/small.png");
            background-size: 42.5px 15px;
        }
    }

    #{$statement-bullet} {
        display: block;
        color: #00a3fb;

        &::before {
            background-image: url("https://ocremaker.frama.io/images/dr/bullet/small-blue.png");
        }
    }
}

$export: meta.get-mixin("d-bulls-declare");