/**
 * Copyright © 2023-2024 ocremaker
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

@use "sass:meta";
@use "../../utils" as U;

@mixin d-btns-declare($selectors) {
    // Get params
    $button: U.get-param($selectors, button, selector);
    $back-button-specification: U.get-param($selectors, button, back-specification);
    $new-marker: U.get-param($selectors, button, new-marker);

    #{$button} {
        display: block;
        width: fit-content;
        margin-bottom: .5em;
        text-decoration: none;

        &:before {
            content: "› "
        }

        &#{$back-button-specification} {
            margin-top: 1em;
            &:before {
                content: "‹ "
            }
        }

        #{$new-marker} { // Basically a sup
            font-size: .83em;
            vertical-align: super;
            line-height: 1.0;
        }
    }
}

$export: meta.get-mixin("d-btns-declare");