/**
 * Copyright © 2023-2024 ocremaker
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

@use "sass:map";
@use "sass:meta";
@use "./aceattorney" as th-aa;
@use "./danganronpa" as th-dr;
@use "./default" as th-d;
@use "./ghosttrick" as th-gt;

$themes: (
        "ace-attorney": th-aa.$export,
        "danganronpa": th-dr.$export,
        "default": th-d.$export,
        "ghost-trick": th-gt.$export,
);

// Allows to import themes directly.
@mixin import($selectors, $theme) {
    $methods: map.get($themes, $theme);
    @each $title, $mixin in $methods {
        @debug "Importing #{$title} from #{$theme}...";
        @include meta.apply($mixin, $selectors)
    }
}