/**
 * Copyright © 2023-2024 ocremaker
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "sass:meta";

$value: null;

@function get-param($map, $selector-list...) {
    $value: $map !global;
    @each $param in $selector-list {
        @if meta.type-of($value) == "map" {
            @if map.has-key($value, $param) {
                $value: map.get($value, $param) !global;
            } @else {
                @error "Could not get element #{$param} of an attempt to query map.#{$selector-list}. No element #{$param} defined in previous element. Base map: #{$map}"
            }
        } @else {
            @error "Could not get element #{$param} of an attempt to query map.#{$selector-list}. Previous element is not a map. Base map: #{$map}"
        }
    }

    @return string.unquote($value);
}
