/**
 * Copyright © 2023-2024 ocremaker
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 */

@use "sass:meta";
@use "sass:list";

$formats: "high-voice", "vampire", "verdict", "quote";

@mixin format-high-voice {
    font-size: 1.4em;
    letter-spacing: 2.5pt;
}

@mixin format-vampire {
    font-size: 1.5em;
    font-family: serif;
    letter-spacing: 2pt;
}

@mixin format-verdict {
    width: 100%;
    display: inline-block;
    font-size: 5em;
    font-weight: bold;
    font-family: serif;
    letter-spacing: 30pt;
    text-align: center;
}

@mixin format-quote {
    display: block;
    margin-left: 10px;
}

@mixin format($name) {
    @if not list.index($formats, $name) {
        @error "#{$name} is not a valid format. Excpected one of #{$formats}."
    }
    @include meta.apply(meta.get-mixin("format-#{$name}"));
}
